<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT ME</title>
    <link rel="stylesheet" href="../static/style.css">
 
</head>
<body>
    <div class="header">
    <header>
        <nav>
            <ul>
                <li><a href="./About_me.html">ABOUT ME</a> </li>
                <li><a href="./my_projects.html">MY PROJECTS</a> </li>
                <li><a href="./content.html">CONTENT</a> </li>
                <li><a href="./registration.html">REGISTRATION</a> </li>
                <li><a href="./help.html">HELP</a> </li>
                <li><a href="./index.html">HOME</a> </li>
            </ul>
        </nav>
    </header>
</div>
    <h1>About me!!!
    </h1>
    <p>Hi everyone this is DIVVYA AGRAWAL here <br>My hobbies are dance and coding,well there are a lot of things i'm good at like art and crafts,maths,coding,etc </p>
    <p>I thought of creating this website as alot of people love to share things like poems,recepies,jokes alot more so on this website you can share things click on "help" to understand this website </p>    
</body>
</html>