<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELP</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="./About_me.html">ABOUT ME</a> </li>
                <li><a href="./my_projects.html">MY PROJECTS</a> </li>
                <li><a href="./content.html">CONTENT</a> </li>
                <li><a href="./registration.html">REGISTRATION</a> </li>
                <li><a href="./help.html">HELP</a> </li>
                <li><a href="./index.html">HOME</a> </li>
            </ul>
        </nav>
    </header>
    <h1>WELCOME TO THE HELP SECTION</h1>
    <ol>
        <h2>STEPS:</h2>
        <li>REGISTRATION-Register to upload your stuff </li>
        <li>CONTENT- Go to content and choose what you want to upload</li>
        <li>UPLOAD-</li>
    </ol>
</body>
</html>