<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PROJECTS</title>
    <link rel="stylesheet" href="../static/style.css">
    <style>
      
        form label{
            color: rgb(38, 3, 85);
            font-weight: bolder;
            font-style: italic;
            font-size: xx-large;
        }
        
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="./About_me.html">ABOUT ME</a> </li>
                <li><a href="./my_projects.html">MY PROJECTS</a> </li>
                <li><a href="./content.html">CONTENT</a> </li>
                <li><a href="./registration.html">REGISTRATION</a> </li>
                <li><a href="./help.html">HELP</a> </li>
                <li><a href="./index.html">HOME</a> </li>
            </ul>
        </nav>
    </header>
    <div>
        <h1>
            Project 1-Click on the link below <br>LINK=<a href="https://givemefive.ai/projects/nextcreator/divvya_agrawal/">QUIZ ON PHONE APPS</a> </br>
        </h1>
    </div>
</body>
</html>